# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/
archive/
env/
*.pyc
*.exe
ghostdriver.log
*.csv
divyanshu/scrappy.log
divyanshu/geckodriver.log
divyanshu/geckodriver.log
*.log
*.ini
*.log
*.h
venv/
venv1/
*.log
divyanshu/geckodriver.log
*.log
*.zip
*.log
divyanshu/scrappy.log
custom_logging.py
divyanshu/geckodriver.log
divyanshu/scrappy.log
Machine Learning/Aashish/ann - Copy.py
Machine Learning/Aashish/ann.py
Machine Learning/Aashish/classificatio_new.py
Machine Learning/Aashish/with_pcr.py
Machine Learning/datasets/NYSE/GOOG.xlsx
Duplicates.txt
*.hdf5
*.bak
